Port=8000
Environment=development

# OpenTelemetry
OTEL_DISABLE=true
OTEL_SERVICE_NAME=verification-service-api
OTEL_RESOURCE_ATTRIBUTES=service.version=0.1.0,service.environment=local

# National Student Clearing House
NSC_ENDPOINT=https://url-for-clearing-house.com/
NSC_CLIENT_ID=my-client-id
NSC_CLIENT_SECRET=my-client-secret
NSC_ACCESS_TOKEN_URL=https://url-for-clearing-house.com/token
