.env
.env.local
tmp/
vendor/
dump.rdb
.DS_Store
.postman
.envrc
node_modules
bin
.idea
examples/java/target/
examples/csharp/bin/
examples/csharp/obj/

swagger-site/*
!swagger-site/index.html
!swagger-site/swagger-initializer.js
!swagger-site/README.md
